{% extends 'CondominiumManagementBundle::content_page_layout.html.twig' %}
{% set title = condominium.name ~ ' - ' ~ 'link.income'|trans ~ ' - ' ~ 'condo.income.category.new'|trans %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% include 'CondominiumManagementBundle:Income:tabs_head.html.twig'
                with {'active' : 'income_category', 'condominium': condominium.id} %}
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="margin-top-20">
                        {% include 'CondominiumManagementBundle:Partial:income_category_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
