<div class="navbar-default sidebar" role="navigation" xmlns="http://www.w3.org/1999/html">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ path('fos_user_profile_show') }}">
                    <i class="fa fa-user fa-fw"></i>
                    {{ 'link.user.profile'|trans }}
                </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
