<footer class="footer-condminuim">
    <div class="col-xs-12 col-sm-2 col-md-12 col-lg-12">
        <div class="container footer-image">
            <img src="https://placeholdit.imgix.net/~text?txtsize=13&txt=170%C3%9750&w=170&h=50"
                class="img-responsive"
                alt="footerimage"
            >
        </div>
        <div class="contain-text-footer">
            <p>
                <span class="text-gray">
                    #SAED ST, RUSSIANFEDERATION,SANGKAT SRAS CHAK, KHAN DAUN PENH, PP
                    #SAED ST, RUSSIANFEDERATION,SANGKAT SRAS CHAK,
                    #SAED ST, RUSSIANFEDERATION,SANGKAT SRAS CHAK
                </span>
            </p>
        </div>
        <div class="contain-text-second">
            <p>
                <span class="text-gray">
                    WEBRIDGETECHNOLOGY@WEBRIDGE.ASIA | THE POWER BY WEBRIDGE TECHNOLOGY
                </span>
            </p>
        </div>
    </div>
</footer>
