 <div class="trigger-sidebar-nav hidden-xs hidden-sm">
    <a href="#" class="trigger-btn">
        <div class="collapse-icon">
            <span class="glyphicon glyphicon-menu-left"></span>
            <span class="collapse-text">Collapse</span>
            <span class="expand-text">Expand</span>
        </div>
    </a>
</div>
