.footer-condminuim {
    .footer-image {
        padding: 10px 0;
        width: 170px;
        text-align: center;
    }

    .contain-text-footer {
        text-align: center;
        padding-top: 15px;
    }

    .contain-text-second{
        text-align: center;
        padding: 0 0 20px 0;
    }
}
